* { box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 1.1em;
}

body {
  font-family: Optima, Candara, Helvetica, Arial, sans-serif;
  text-align: center;
  color: $shade100;
  background-color: $shade40;
  text-shadow: 1px 0px 2px $shade20;
}

a { color: $shade70; }

p { margin: 1.2em; }

/*
  Headers
  ----------------
*/

h1, h2 {
  margin: 1.5em 0 0.6em 0;
  font-weight:400;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }